*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #0a2a43;
    min-height: 1500px;
}

::-webkit-scrollbar{
    width: 20px;
}

::-webkit-scrollbar-thumb{
    border-radius: 3em;
    background: -webkit-gradient(linear, left top, left bottom, 
    from(#ff8a00), 
    to(#da1b60));
    box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.25), inset -2px -2px -2px rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar-track{
    background: linear-gradient(to right, #201c29, #201c29 1px, #100e17 1px, #100e17);
}

.parralax{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parralax::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #0a2a43, transparent);
    z-index: 10000;
}

.parralax::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0a2a43;
    z-index: 10000;
    mix-blend-mode: color;
}

.parralax img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

#title{
    position: relative;
    color: #fff;
    font-size: 7em;
    z-index: 1;
}

#road{
    z-index: 2;
}

#main h2{
    padding-top: 2em;
    text-align: center;
    color: white;
    font-size: 3rem;
    font-family: 'Merriweather', serif;
}

#main .picture-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    justify-items: center;
    grid-gap: 2em;
    grid-row-gap: 1em;
}

#main .picture-grid .grid-box img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#scroll-down{
    height: 100vh;
}

#scroll-down .nonimg{
    position: relative;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
}

#scroll-down .text{
    max-width: 800px;
    font-family: Consolas, sans-serif;
    margin-left: 50%;
}

#scroll-down .text h1{
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 4em;
}

#scroll-down .scrolldown{
    position: absolute;
    bottom: 20px;
    left: 50%;
    width: 40px;
    height: 40px;
    transform: translateY(-80px) translateX(-50%) rotate(45deg);
}

#scroll-down #drawing{
    width: 100%;
    height: 50vh;
    object-fit: cover;
    margin-top: 100%;
    padding-bottom: 2rem;
}